<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Budget Tracker</title>
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
	<!-- endbower -->

	<!-- inject:css -->
	<link rel="stylesheet" href="/src/app/content/styles.css">
	<!-- endinject -->

</head>
<body ng-controller="optionCtrl as vm">
	
	<header class="main-header">
		<h1>Budget Tracker</h1>
	</header>

	<div class='container'>
		<div class="row well">
				<div class="col-md-6" id='incomeArea'>
					
					<!-- UI for income by type and amount -->
					<form ng-submit="vm.addNewIncome()" role="form">
						<legend>Income Entries</legend>
						<!-- Layout for category slection -->
						<div class="form-group input-group">
							<span class='input-group-addon'>
								<i class="glyphicon glyphicon-list"></i>
							</span>
							<select ng-model='vm.incomeItem' ng-options="option.name group by option.cat for option in vm.incomeOptions" id="inputIncome" class="form-control" required="required">
								<option value="">Select a category to include</option>
							</select>
						</div>
						<!-- Layout for user spend input -->
						<div class="form-group input-group">
							<span class='input-group-addon'>
								<span class="glyphicon glyphicon-usd" id="dollar"></span>
							</span>
							<input type="number" min='.01' step="0.01" class="form-control" id="incomeInput" placeholder="Enter income amount" ng-model='vm.incomeAmount' required="required">
						</div>
						<button type="submit" value="Submit" class="btn btn-primary btn-block btn-success" id="submit_Button">
							<i class='glyphicon glyphicon-plus'></i>  	Add Income
						</button>		
					</form>

					<!-- Display the income input by type and amount -->
					<table class="table table-striped table-hover" id='housing'>
						<thead>
							<tr>
								<th width=30%>Type</th>
								<th width=50%>Description</th>
								<th width=20%>Amount ($)</th>
							</tr>	
						</thead>
						<tbody ng-model='vm.incomes' ng-init="vm.totalIncome=0">
							<tr ng-repeat="income in vm.incomes">
								<td>{{income.cat}}</td>
								<td>{{income.type}}</td>
								<td>{{income.amount | currency}}</td>
								<td ng-init='$parent.totalIncome = $parent.totalIncome + income.amount'></td>
								<td>
									<button type="button" value="Remove" class="glyphicon glyphicon-trash" ng-click="vm.removeRowIn(income.type); $parent.totalIncome = $parent.totalIncome - income.amount" id="deleteButton"></button>
								</td>
							</tr>
							<tr>
								<td>Total Income</td>
								<td></td>
								<td>{{ totalIncome | currency}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- UI for expenses by type and amount -->
				<div class="col-md-6" id="expenseArea">
					<form ng-submit="vm.addNew()" role="form">
						<legend>Expense Entries</legend>
						<!-- Layout for category slection -->
						<div class="form-group input-group">
							<span class='input-group-addon'>
								<i class="glyphicon glyphicon-list"></i>
							</span>
							<select ng-model='vm.slctItem' ng-options="option.name group by option.cat for option in vm.slctOptions" id="inputHousing" class="form-control" required="required">
								<option value="">Select a category to include</option>
							</select>
						</div>
						<!-- Layout for user spend input -->
						<div class="form-group input-group">
							<span class='input-group-addon'>
								<span class="glyphicon glyphicon-usd" id="dollar"></span>
							</span>
							<input type="number" min='.01' step="0.01" class="form-control" id="spendAmount" placeholder="Enter spend amount" ng-model='vm.amount' required="required">
						</div>
						<button type="submit" value="Submit" class="btn btn-primary btn-block btn-danger" id="submit_Button">
							<i class='glyphicon glyphicon-plus'></i>  	Add Expense
						</button>		
				</form>

				<!-- Displays the expense input by type and amount-->
				<table class="table table-striped table-hover" id='housing'>
					<thead>
						<tr>
							<th width=30%>Type</th>
							<th width=50%>Description</th>
							<th width=20%>Amount ($)</th>
						</tr>	
					</thead>
					<tbody ng-model='vm.expenses'>
						<tr ng-repeat="expense in vm.expenses" ng-init="vm.total=0" ng-init="vm.housing=0">
							<td>{{expense.cat}}</td>
							<td>{{expense.type}}</td>
							<td>{{expense.amount | currency}}</td>
							<td ng-init='$parent.total = $parent.total + expense.amount'></td>
							<td ng-init='$parent.housing = $parent.housing + expense.housingCost'></td>
							<td>
								<button type="button" value="Remove" class="glyphicon glyphicon-trash" ng-click="vm.removeRowEx(expense.type); $parent.total=$parent.total-expense.amount; $parent.housing=$parent.housing-expense.housingCost" id="deleteButton">
								</button>
							</td>
						</tr>
						<tr>
							<td>Total expenses</td>
							<td></td>
							<td>{{ total | currency}}</td>
						</tr>
					</tbody>
				</table>

				<!-- Display sthe total output per category and budget suggestions -->
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Budget Shortfall or Surplus</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Total Expenses</td>
							<td>{{total | currency}}</td>
						</tr>
						<tr>
							<td>Total Income</td>
							<td>{{totalIncome | currency}}</td>
						</tr>
						<tr ng-show="total>totalIncome">
							<td>You have shortfall of:</td>
							<td>{{total-totalIncome | currency}}</td>
						</tr>
						<tr ng-show="total<totalIncome">
							<td>You have surplus of:</td>
							<td>{{totalIncome-total | currency}}</td>
						</tr>
						<tr ng-show="total===totalIncome && totalIncome>0">
							<td>You are even:</td>
							<td>$0</td>
						</tr>
						<tr ng-if="(housing/totalIncome) >= 0.25">
							<td>Your rent is greater than 25% of your disposable income.</td>
							<td>I suggest that you consult a financial advisor!</td>
						</tr>
					</tbody>
				</table>
			</div>		
		</div>			
	</div>	


	<!-- bower:js -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->

	<!-- inject:js -->
	<script src="/src/app/app.js"></script>
	<script src="/src/app/budget/budget_controller.js"></script>
	<script src="/src/app/budget/expense_opt.factory.js"></script>
	<script src="/src/app/budget/income_opt.factory.js"></script>
	<!-- endinject -->
	
	<!-- Used to set up sticky footer -->
	<div class="push"></div>

	<div class="footer">
		<span>&copy; Repertus Creative Works</span>
		<br>
		<span><a href="mailto: RobertMdC@gmail.com"><img src="src/app/imgs/glyphicons-social-19-gmail.png"></a></span>
		<span><a href="https://www.linkedin.com/in/robertmdelc"><img src="src/app/imgs/glyphicons-social-18-linked-in.png"></a></span>
		<span><a href="https://github.com/repertus"><img src="src/app/imgs/glyphicons-gitHub.png" width="25"></a></span>	
	</div>
</body>
</html>